.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-box{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.search-box input{
  background-color: rgb(69, 165, 250);
  width: 55%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  outline: none; /* Rimuove l'outline quando l'input è in stato di focus */

}

.search-box input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: #06283D;
  text-transform: capitalize;
}

.search-box i{
  color: #06283D;
  font-size: 28px;
  margin: auto;
}

.search-box button{
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: #fff;
  background: #06283D;
  border-radius: 50%;
  font-size: 18px;
  margin: auto;

}

.weatherImg{
  max-height:120px;
  max-width:120px;
  margin-top: 20px;
}

.header{
  background-color: initial!important;
  border-bottom: initial!important;
}